@import "../../../stylesheets/settings/all";

.list-item-actions {
  button {
    margin-right: 20px; min-width: 40px;
    font-family: $font; font-size: .9em; font-weight: $fw-semibold; color: $dark-grey;
    transition: color 200ms linear;

    &:before {
      margin-right: 5px;
      font-family: $fontAwesome; font-size: 1.3em;
    }
    &:hover { text-decoration: none; }

  }
  .answer.active, .answer:hover,
  .pm:hover { color: $blue; }
  .like.active, .like:hover { color: $red; }
  .retweet.active, .retweet:hover { color: $green; }
}
