<div class="block short-profile">
  <div class="profile-infos">
    <img [src]="user.email|gravatar" [alt]="user.name" class="avatar"/>
    <p class="profile-metas">
      {{user.name}}
      <span class="profile-account">{{user.account}}</span>
    </p>
    <div class="profile-relation">
      <p class="col col-30">
        Tweets
        <a routerLink="my-tweets">{{user.tweetCount}}</a>
      </p>
      <p class="col col-40">
        Abonnements
        <a routerLink="my-tweets">{{user.subscriber}}</a>
      </p>
      <p class="col col-30">
        Abonnés
        <a routerLink="my-tweets">{{user.subscription}}</a>
      </p>
    </div>
  </div>
</div>
