<div class="block short-profile">
  <div class="profile-infos">
    <img [src]="user.email|gravatar" [alt]="user.name" class="avatar"/>
    <p class="profile-metas">
      {{user.name}}
      <span class="profile-account">{{user.account}}</span>
    </p>
    <div class="profile-relation">
      <p class="col col-30">
        Tweets
        <!--<router-link :to="{name: 'my-tweets'}">{{user.tweetCount}}</router-link>-->
      </p>
      <p class="col col-40">
        Abonnements
        <!--<router-link :to="{name: 'my-tweets'}">{{user.subscriber}}</router-link>-->
      </p>
      <p class="col col-30">
        Abonnés
        <!--<router-link :to="{name: 'my-tweets'}">{{user.subscription}}</router-link>-->
      </p>
    </div>
  </div>
</div>
